<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li{
            list-style: none;
            margin-top: 5px;
        }
        li a{
            text-decoration: none;
            color: red;
        }
        li a:hover{
            color:green;
            font-size: larger;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="/attendancepage">ATTENDENCE</a></li>
        <li><a href="/enquirypage">ENQUIRY</a></li>
        <li><a href="/coursepage">COURSE</a></li>
        <li><a href="/studentpage">STUDENT</a></li>
        <li><a href="/guardianpage">GUARDIAN</a></li>
        <li><a href="/teacherpage">TEACHER</a></li>
        <li><a href="/staffpage">STAFF</a></li>
        
        
       
    </ul>
</body>
</html>