<table border="2">
    <tr>
        <th>guardian_id</th>
        <th>student_id</th>
        <th>father_name</th>
        <th>mother_name</th>
        <th>address</th>
        <th>mobile</th>
        <th>email</th>
        <th>Action</th>
        
    </tr>
    {%for data in datas%}
    <tr>
        <td>{{data[0]}}</td>
        <td>{{data[1]}}</td>
        <td>{{data[2]}}</td>
        <td>{{data[3]}}</td>
        <td>{{data[4]}}</td>
        <td>{{data[5]}}</td>
        <th>{{data[6]}}</th>
        <td><a href="/delete/{{data[0]}}">del</a></td>
        
        
    </tr>
    {% endfor%}
</table>